*.iml
*.log
*.apk
*.jks
*.keystore
*.hprof
.gradle
/local.properties
misc.xml
deploymentTargetDropDown.xml
render.experimental.xml
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
output.json
google-services.json
